.navigation_bottom {
    position: relative;
}

html body {
    background-color: #3a3a3a;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.image_text {
    font-weight: bolder;
    font-size: 50px;
    color: white;
    height: 105vh;
    background-image: url('colosseumoffools.image/image\ 110.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.colosseumoffools_font{
    font-family: 'Irish Grover';
    color: white;
    width: 80%;
}
.title {
    border-bottom: 5px solid white;
    color: white;
}
.tablet_mode{
    display: none;
}


@media screen and (max-width:1000px){
    .tablet_mode{
        display: flex;
        align-items: center;
    }
    .left_content img{
        width: 80%;
    }
    .colosseum_image{
        display: none;
    }
    .tablet_mode img{
        width: 60%;
        
    }
    .colosseum_of_content{
        display: none;
    }
}
@media screen and (max-width:400px){
    .tablet_mode{
        display: block;
        width: 80%;
    }
    .tablet_mode img{
        margin-left: 20px;
    }
    
}
