.navigation_bottom {
    position: relative;
}

html body {
    background-color: #3a3a3a;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.image_text {
    font-weight: bolder;
    font-size: 50px;
    color: white;
    height: 105vh;
    background-image: url('achievemets_image/image\ 112.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    border-bottom: 5px solid white;
    color: white;
}
.picture_row {
    display: flex;


}

.text {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 30%;
}

.bottom_image {
    display: flex;
    margin-top: 20px;

}
p{
    margin-left: 20px;
}

@media screen and (max-width:400px){
    .picture_row{
        display: block;
    }
    .text{
        display: block;
        width:80%
    }
    
    .bottom_image{
        display: block;
    }
    .main_container{
        width: 80%;
    }
    p{
        margin: 0;
    }
}