body {
    margin: 0%;
    font-family: sans-serif;
}

.header {
    position: relative;
    background-image: url(../images/Bg\ Shape@2x.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 55%;
    height: 650px;
}

.menu {
    grid-area: menu;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: flex-end;
    width: 150px;
}

.logo h2 {
    color: rgb(72, 70, 70);
}

.headerText {
    grid-area: headerText;
    padding-bottom: 90px;
}

.headerText h2 {
    color: rgb(72, 70, 70);
    font-size: 20px;
}

.headerText h1 {
    color: rgb(72, 70, 70);
    font-size: 40px;
    font-weight: 1000;
    margin: 0%;
}

.headerText p {
    color: rgb(72, 70, 70);
    font-size: x-small;
}

.topMenu {
    grid-area: topMenu;
    display: flex;
    width: 400px;
    justify-content: space-evenly;
}

.topMenu a {
    text-decoration: none;
    font-size: small;
    color: white;
}

.topMenu a:hover {
    text-decoration: overline;
    color: rgb(67, 183, 255);
}

.blank {
    grid-area: blank;
}

.headerGrid {
    display: grid;
    grid-template-areas:
        'menu logo logo blank blank topMenu topMenu topMenu'
        'menu headerText headerText headerText headerText headerText headerText headerText'
        'menu headerText headerText headerText headerText headerText headerText headerText'
        'menu headerText headerText headerText headerText headerText headerText headerText';
    gap: 50px;
    padding: 30px 60px;
    height: 500px;
    grid-template-columns: 50px 100px 100px 100px 50px 100px 100px 100px;
    grid-template-rows: 75px 40px 100px 100px;
    align-items: end;
    justify-items: start;
    position: relative;
    justify-content: space-between;
    align-content: space-around;
}

.headerImg {
    position: absolute;
    top: 20%;
    left: 60%;
}

.mouseIcon {
    position: absolute;
    bottom: 5%;
    left: 50%;
}

.box1 {
    display: flex;
    position: relative;
    height: 500px;
}

.box1Img {
    width: 40%;
    margin-left: 30px;
}

.rightBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 40px;
}

.rightBox h6 {
    color: cornflowerblue;
    margin-bottom: 0%;
}

.rightBox h1 {
    color: rgb(72, 70, 70);
    margin: 20px 0px;
}

.rightBox p {
    color: rgb(72, 70, 70);
    margin-top: 0%;
}

.box2 {
    position: relative;
    height: 900px;
}

.topBox2 {
    padding: 100px 150px;
}

.topBox2 h6 {
    color: cornflowerblue;
    margin-bottom: 0%;
}

.topBox2 h1 {
    color: rgb(72, 70, 70);
    margin-bottom: 0%;
}

.box2Grid {
    display: grid;
    grid-template-areas:
        'box2a box2b box2c'
        'box2d box2e box2f';
    gap: 50px;
    padding: 0px 150px;
    height: 450px;
    align-items: center;
    justify-items: center;
}

.box2a {
    grid-area: box2a;
}

.box2b {
    grid-area: box2b;
}

.box2c {
    grid-area: box2c;
}

.box2d {
    grid-area: box2d;
}

.box2e {
    grid-area: box2e;
}

.box2f {
    grid-area: box2f;
}

.mainbox3 {
    display: flex;
}

.footer {
    display: flex;
}