body {
    margin: 0%;
    font-family: sans-serif;
    position: relative;
}

.headerBackground {
    display: flex;
    background-image: url(../images/Bg\ Shape@2x.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 55%;
    height: 600px;
}

.headerBox {
    display: flex;
    width: 80%;
    height: 100%;
    margin: auto;
    flex-direction: column;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0px;
    align-items: center;
}

.logo {
    display: flex;
    width: 30%;
}

.logoImg {
    width: 20%;
}

.topMenu {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.topMenu a {
    text-decoration: none;
    color: white;
}

.topMenu a:hover {
    color: lightblue;
}

.headerMain {
    display: flex;
}

.headerText {
    display: flex;
    width: 55%;
    flex-direction: column;
    justify-content: center;
}

.headerImg {
    display: flex;
    width: 45%;
}

.whoWeAre {
    display: flex;
    width: 100%;
    margin: auto;
    height: 500px;
    justify-content: space-between;
}

.wwaImg {
    display: flex;
    padding-left: 5%;
    width: 45%;
}

.wwaText {
    display: flex;
    padding-left: 5%;
    width: 45%;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/who\ we\ are\ background@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.whatWeOffer {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.wwoTitle {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
}

.wwoListBackground {
    display: flex;
    width: 100%;
    background-image: url(../images/background@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wwoList {
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.lilBox {
    display: flex;
    width: 30%;
    border: 1px rgba(255, 255, 255, 0) solid;
    background-color: white;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
    border-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 5px 10px grey;
}

.lilBoxImg {
    width: 20%;
}

.lilBoxText {
    width: 80%;
}

.ourPricing {
    display: flex;
    width: 100%;
    padding-bottom: 50px;
    background-color: rgb(208, 201, 255);
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.opTitle {
    display: flex;
    margin: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.opPackage {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.enterText {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: center;
}

.subscribe {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

.textBox {
    display: flex;
    background-color: whitesmoke;
    padding: 10px 5px;
    width: 70%;
    color: rgb(193, 193, 193);
    border-radius: 5px;
}

.footer {
    display: flex;
    width: 100%;
    background-image: url(../images/footerBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    justify-content: center;
    align-items: flex-end;
}

.footer p {
    color: white;
}

.mainFooter {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.footerLogoImg {
    display: flex;
    align-items: center;
}

.footerLogo {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
}

.footerBox {
    display: flex;
    width: 20%;
    flex-direction: column;
}

.footerImg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imgDiv {
    width: 10%;
    padding-right: 5px;
}

.button {
    display: flex;
    width: fit-content;
    background-image: linear-gradient(to right, rgb(0, 8, 157) , rgb(108, 88, 255));
    border-radius: 30px;
    color: white;
    font-size: xx-small;
    padding: 10px 20px;
}

h2, h1, h6 {
    color: rgb(60, 60, 60);
}

p {
    color: rgb(60, 60, 60);
    font-size: x-small;
}