html body {
    background-color: #3a3a3a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/*#text*/
.para {
    font-size: 1.5vw;
    margin: 1% 0%;
}

.head1 {
    font-size: 6vw;
    margin: 1% 0%;
}

.head2 {
    font-size: 3vw;
    margin: 1% 0%;
}

.head3 {
    font-size: 2vw;
    margin: 1% 0%;
}

.head4 {
    font-size: 1.5vw;
    margin: 1% 0%;
}


.link {
    font-size: 1.5vw;
}

.dropdownLink a {
    font-size: 1.8vw;
}

/*#endregion*/

/*#background*/
.body {
    background-color: #3a3a3a !important;
}

.bg-black {
    background-color: black;
}

.bg-grey {
    background-color: rgb(93, 93, 93);
}

.bg-greyGradient {
    background-image: linear-gradient(to bottom right, rgb(62, 62, 62), grey);
}

.bg-redGradient {
    background-image: linear-gradient(to bottom right, red, rgb(255, 96, 96));
}

.bg-yellowGradient {
    background-image: linear-gradient(to bottom right, rgb(255, 115, 0), rgb(187, 146, 49));
}

.bg-lightgrey {
    background-color: rgb(154, 154, 154);
}

.bg-pureWhite {
    background-color: white;
}

/*#endregion*/

/*#width*/
.h-20 {
    height: 20%;
}

.w-15 {
    width: 15%;
}

.w-30 {
    width: 30%;
}

.w-80 {
    width: 80%;
}

.contentText {
    width: 50%;
}

.contentImg {
    width: 50%;
    justify-content: center;
}

.othersWidth {
    width: 50%;
}

.othersImg {
    width: 20%;
}

.othersBigWidth {
    width: 50%;
}

.imgSizeResponsive {
    width: 50%;
}

.bigBox {
    width: 80%;
}

.lilBoxLink {
    width: 25%;
}
/*#endregion*/

#knightHeaderImg {
    background-image: url(../img/hollowKnightBeginning.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110vw;
}

#nailHeaderImg {
    background-image: url(../img/nailBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110vw;
}

#charmsHeaderImg {
    background-image: url(../img/hollow-knight-all-charm-locations-main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110vw;
}

#itemsHeaderImg {
    background-image: url(../img/items.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110vw;
}

#mainstoryHeaderImg {
    background-image: url(../img/dirtmouth-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110vw;
}

#gamemodeHeaderImg {
    background-image: url(../img/gamemode.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110vw;
}

#snaHeaderImg {
    background-image: url(../img/snaheader.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110vw;
}

#arearsHeaderImg {
    background-image: url(../img/areas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110vw;
}

#contactBoxLeft {
    width: 30%;
}

#contactBoxRight {
    width: 70%;
}

.justifyContent {
    justify-content: space-between;
}

.relative {
    position: relative;
}

.responsiveFlexWrap {
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
    .para {
        font-size: 2vw;
    }

    h4 {
        font-size: 2.5vw;
    }

    .head2 {
        font-size: 2.5vw;
    }

    .link {
        font-size: 1.5vw;
    }

    .head3 {
        font-size: 2vw;
    }

    .dropdownLink a {
        font-size: 2vw;
    }

    .w-30 {
        width: 45%;
    }

    .othersWidth {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .para {
        font-size: 2vw;
    }

    h4 {
        font-size: 2vw;
    }

    .head2 {
        font-size: 3vw;
    }

    .head3 {
        font-size: 2vw;

    }

    .link {
        font-size: 2vw;
    }

    .dropdownLink a {
        font-size: 3vw;
    }

    .w-30 {
        width: 47%;
    }

    .responsiveDivReverse {
        align-items: center;
    }

    .responsiveDiv {
        align-items: center;
    }

    .imgSizeResponsive {
        width: 50%;
    }
    
    .othersWidth {
        width: 100%;
    }

    .othersImg {
        display: none;
        width: 0%;
    }
}

@media screen and (max-width: 600px) {
    .para {
        font-size: 2vw;
    }

    h4 {
        font-size: 3vw;
    }

    .head2 {
        font-size: 5vw;
    }

    .head3 {
        font-size: 3vw;

    }

    .link {
        font-size: 2vw;
    }

    .dropdownLink a {
        font-size: 3vw;
    }

    .w-30 {
        width: 45%;
    }

    .contentImg {
        width: 80%;
        justify-content: center;
        padding: 0%;
    }

    .contentText {
        width: 100%;
    }

    .othersWidth {
        width: 100%;
    }

    .imgSizeResponsive {
        width: 30%;
    }

    .responsiveDiv {
        flex-direction: column;
    }

    .responsiveDivReverse {
        flex-direction: column-reverse;
    }

    .bigBox {
        width: 100%;
    }

    .lilBoxLink {
        width: 40%;
    }

    .responsiveFlexWrap {
        flex-wrap: wrap;
    }

    .othersWidth {
        width: 100%;
    }

    .othersImg {
        display: none;
        width: 0%;
    }

    .othersContainer {
        margin: auto;
    }
}

@media screen and (max-width: 450px) {
    .para {
        font-size: 3vw;
    }

    .head2 {
        font-size: 6vw;
    }

    .head3 {
        font-size: 2vw;
    }

    .link {
        font-size: 3vw;
    }

    .dropdownLink a {
        font-size: 4vw;
    }

    .w-30 {
        width: 70%;
    }

    .w-15 {
        width: 30%;
    }

    .justifyContent {
        justify-content: center;
    }

    #contactBoxLeft {
        display: none;
        width: 0%;
    }

    #contactBoxRight {
        width: 100%;
    }

    .body {
        width: 100%;
    }

    .w-80 {
        width: 100%;
    }

    .imgSizeResponsive {
        width: 50%;
    }

    .contentImg {
        width: 100%;
        justify-content: center;
    }

    .contentText {
        width: 100%;
    }

    .othersWidth {
        width: 100%;
    }

    .othersImg {
        display: none;
        width: 0%;
    }

    .responsiveDiv {
        flex-direction: column;
    }

    .responsiveDivReverse {
        flex-direction: column-reverse;
    }

    .responsiveFlexWrap {
        flex-wrap: wrap;
    }

    .lilBoxLink {
        width: 35%;
    }
}