html body {
    background-color: #3a3a3a;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

p {
    font-size: 1.5vw;
}

.bg-black {
    background-color: black;
}

.bg-grey {
    background-color: rgb(93, 93, 93);
}

.bg-lightgrey {
    background-color: rgb(154, 154, 154);
}

.contactBoxLeft{
    width: 30%;
}

.contactBoxRight {
    width: 60%;
}

.h-20 {
    height: 20%;
}

@media screen and (max-width: 400px) {
    p {
        font-size: 10vw;
    }
}

@media screen and (max-width: 600px) {
    p {
        font-size: 2vw;
    }
}

@media screen and (max-width: 800px) {
    p {
        font-size: 2vw;
    }
}