#container {
    background-color: #f1f1f1;
    max-width: 1024px;
    margin: auto;
    padding: 30px;
}

.header {
    text-align: center;
    padding: 20px;
    color: rgb(48, 0, 79);
    background-image: url("../images/azurLane.jpg");
    background-size: cover;
}

.headerBox {
    display: flex;
    justify-content: space-between;
}

.bottomBox {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}

.menu {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 4px;
    width: 20%;
    flex-wrap: wrap;
}

.menu a {
    color: #e19ae5;
    text-align: center;
    padding: 14px;
    padding-right: 80px;
    text-decoration: none;
}

.menu a:hover {
    background-color: rgb(255, 177, 255);
    color: black;
    text-decoration: underline black;
}

.leftBox {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    width: 80%;
}

.mainAndRight {
    display: flex;
    justify-content: space-between;
    height: 80%;
}

.main {
    display: flex;
    width: 49.5%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 0.5%;
    color: rgb(0, 0, 0);
    background-color: thistle;
}

.right {
    display: flex;
    width: 49.5%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 0.5%;
    color: rgb(0, 0, 0);
    background-color: thistle;
}

.footer {
    display: flex;
    height: 19%;
    margin-top: 1%;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: thistle;
}

@media screen and (max-width: 600px) {
    .bottomBox {
        display: block;
        padding-top: 2%;
        justify-content: space-between;
    }

    .menu {
        display: flex;
        background-color: rgb(0, 0, 0);
        justify-content: space-evenly;
        width: 98%;
        margin: auto;
        justify-content: space-evenly;
    }

    .menu a {
        width: 10%;
        padding: 0%;
        color: #e19ae5;
        text-align: center;
        text-decoration: none;
    }

    .menu a:hover {
        background-color: rgb(255, 177, 255);
        color: black;
        text-decoration: underline black;
    }

    .leftBox {
        display: flex;
        width: 100%;
        height: 100%;
        margin: auto;
        margin-top: 2%;
    }

    .mainAndRight {
        display: flex;
        justify-content: space-between;
        height: 80%;
        width: 100%;
    }

    .main {
        display: flex;
        width: 48.5%;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-right: 1.5%;
        color: rgb(0, 0, 0);
        background-color: thistle;
    }

    .right {
        display: flex;
        width: 48.5%;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-left: 1.5%;
        color: rgb(0, 0, 0);
        background-color: thistle;
    }

    .footer {
        display: flex;
        margin-top: 2%;
        justify-content: center;
        text-align: center;
        color: rgb(0, 0, 0);
        background-color: thistle;
    }
}

h1 {
    width: 250px;
    text-align: center;
}