.navigation_bottom {
    position: relative;
}

html body {
    background-color: #3a3a3a;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.image_text {
    font-weight: bolder;
    font-size: 50px;
    color: white;
    height: 105vh;
    background-image: url('thegrimtroupe_image/image\ 109.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grimtroupe_font {
    font-family: 'Irish Grover';
    color: white;
    width: 80%;
}

.content {
    color: white;
    width: 90%;
}
.desktop_content {
    color: white;
    width: 90%;
}

.title {
    border-bottom: 5px solid white;
    color: white;
}

.tablet_mode {
    display: none;
}

@media screen and (max-width: 1000px) {
    .tablet_mode {
        display: flex;

    }
    .grim_troupe_image {
        display: none;
    }
    .desktop_content {
   display: none;
}
.left_content img{
    width: 70%;
}
.left_content{
    width: 70%;
}
}
@media screen and (max-width:400px){
    .tablet_mode{
        display: block;
    }
   .tablet_mode img{
       margin-left: 20px;
   }
}