.logo { grid-area: logo;}
.phoneNo {grid-area: phoneNo;}
.menu { grid-area: menu;}
.imgSlideshow { grid-area: imgSlideshow;}
.sidebar { grid-area: sidebar;}
.textContent { grid-area: textContent;}
.footer { grid-area: footer;}

.grid-container {
    display: grid;
    grid-template-areas:
        'logo logo phoneNo phoneNo phoneNo phoneNo phoneNo phoneNo'
        'logo logo menu menu menu menu menu menu'
        'imgSlideshow imgSlideshow imgSlideshow imgSlideshow imgSlideshow imgSlideshow imgSlideshow imgSlideshow'
        'textContent textContent textContent textContent textContent textContent sidebar sidebar'
        'footer footer footer footer footer footer footer footer';
    gap: 10px;
    background-color: thistle;
    padding: 10px;
}

.grid-container div {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}