.blogMenu { grid-area: blogMenu;}
.logo { grid-area: logo;}
.phoneNo {grid-area: phoneNo;}
.menu { grid-area: menu;}
.imgSlideshow { grid-area: imgSlideshow;}
.sidebar { grid-area: sidebar;}
.textContent { grid-area: textContent;}
.footer { grid-area: footer;}
.blank {grid-area: blank;}
.grid-container {
    display: grid;
    grid-template-areas:
        'blogMenu blogMenu blogMenu blogMenu blogMenu blogMenu blogMenu blogMenu'
        'logo logo blank blank phoneNo phoneNo phoneNo phoneNo'
        'logo logo menu menu menu menu menu menu'
        'imgSlideshow imgSlideshow imgSlideshow imgSlideshow imgSlideshow imgSlideshow sidebar sidebar'
        'textContent textContent textContent textContent textContent textContent sidebar sidebar'
        'footer footer footer footer footer footer footer footer';
    gap: 10px;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: 50px 50px 50px 200px 150px 150px;
    background-color: thistle;
    padding: 10px;
}

.grid-container div {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}